*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
}
html,body{
    height: 100%;
    width: 100%;
}
#box1{
    width: 20%;
    height: 50%;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
}
@keyframes anime {
    from{
        left: 0;
        rotate: 0;
    

    }
    to{
    left: 70%;
    rotate: 360deg;

    }
    
}